<nav class="navside" id="menu-js">
  <h3><a href="#menu-js">GIT</a></h3>
  <ul>
    <li><a href="index.html">O que é GIT?</a></li>
    <li><a href="instalacao-git.html">Instalação GIT</a></li>
    <li><a href="instalacao-git-extensions.html">Instalação GIT Extensions</a></li>
    <li><a href="cadastro-github.html">Cadastro no GitHub</a></li>
    <li><a href="configuracoes-git-extensions.html">Configurações iniciais Git Extensions</a></li>
    <li><a href="chaves-de-acesso.html">Chaves de Acesso</a></li>
    <li><a href="barra-de-ferramentas.html">Barra de Ferramentas (Visual Studio)</a></li>
    <li><a href="comandos-basicos.html">Comandos Básicos</a></li>
    <li><a href="Desenvolvimento.html">Desenvolvimento</a></li>
  </ul>
</nav>
